.app-marble {
  background-blend-mode: normal, normal, normal, multiply;
  box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  backdrop-filter: blur(60px);
  border-radius: 50%;
  transform: rotate(-20.99deg);
}